.container {
    overflow: hidden;
}

.player {
    width: 100px; height: 100px;
    position: relative;
    top: 495px;
    left: 310px;
    background: url("../img/player.png") no-repeat ;
}

.reward {
    width: 150px; height: 135px;
    top: -100px;
    position: absolute;
    bottom: 900px;
    background: url("../img/reward.png") no-repeat ;
    animation: drop linear;
    animation-duration: 5s;
}

.obstacle {
    width: 150px; height: 135px;
    top: -100px;
    position: absolute;
    bottom: 900px;
    background: url("../img/obstacle.png") no-repeat;
    animation: drop linear;
    animation-duration: 5s;
}

* {
    margin: 0 0;
    padding: 0 0;
}

body,
.breadcrumb {
    background-color: #00081c;
    font-family: 'Voces';
}

.container {
    width: 1000px;
    padding: 0 0;
}


.navbar-color,
.juego-container {
    background-color: #0a152f;
}

.navbar-color a {
    color: #b7b7b7;
}

.navbar-color>.navbar-brand {
    color: #deab4a;
}


.juego-container {
    width: 100%;
    height: 600px;
}

#start {
    background-color: #deab4a;
    color: #0a152f;
}

.gameOver{
    color: #deab4a;
    font-size: 4em;
    margin-top: 100px;
    text-align: center;
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.board {
    float: right;
    width: 300px;
    height: 100%;
}

.card {
    background-color: #0a152f;
    border: none;
    color: #b7b7b7;
    margin-top: 10px;
}

.high-score {
    height: 50px;
}

.score {
    height: 50px;
}

.card-header {
    border: none;
    border-top: 1px dashed #20325c;
}

.volume{
    height: 50px;
}

.form-group{
    margin-left: 20px;
}

.boton{
    height: 25px;
}

#game {
    position: absolute;
    overflow: hidden;
    float: left;
    width: 700px;
    height: 100%;
    background-size: auto,auto;
    background: url("../img/starts.png") , url("../img/02.png");
    background-size: auto,
    auto,
    auto;
    background-repeat: repeat,
    repeat;
    background-position: 0px 0px,
    0px 0px;
}

.game-bg-animation {
    animation: parallax-background linear 5s infinite;
}

@keyframes parallax-background {
    from {
        background-position: 0 0, 0 0 ;
    }

    to {
        background-position: 0px 2800px, 0px 1400px;
    }
}

.explosion {
    width: 96px;
    height: 96px;
    position: absolute;
    background: url("../img/explosion.png") 0 0 no-repeat;
    animation: explosion 1s steps(20) 1 forwards;

}

@keyframes explosion {
    100% {
        background-position: -1920px 0px;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.left {
    animation: moveLeft ease-out 0.2s ;
}

.right {
    animation: moveRight ease-out 0.2s;
}

.paused {
    animation-play-state: paused;
}

.sparks{
    width: 96px;
    height: 96px;
    position: absolute;
    background: url("../img/sparks.png") 0 0 no-repeat;
    animation: explosion 1s steps(4) 1 forwards;
}

@keyframes moveLeft {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(-10deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

@keyframes moveRight {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(10deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

@keyframes drop {
    from {
        transform: translate(0px,0px) ;
    }

    to {
        transform: translate(0px, 950px);
    }
}
